
html, body {margin: 0; height: 100%; }

.container {
   

  }
  
  .grid1  {
    background: #d3d2d2;
    display: inline-block;
    height: 500px;
    width : 30%;
    margin: 5px;
    overflow-y: hidden;
 
  }

  .grid2  {
    background:  #d3d2d2;
    display: inline-block;
    height: 500px;
    width : 60%;
    margin: 5px;
  }

  .tablebox{
   
    background: #f0ebeb;
    margin:auto;
    
    width : 100%;
    height : 50px;

  }
  
  .tablebox1 td {
   
    background: #f0ebeb;
    margin:auto;
    font-size: x-small;
   
    height : 30px;

  }

  .cartlist{
    background:  #d3d2d2;
    width : 100%;
    height : 300px; 
    overflow-x: hidden;
    overflow-y: auto;
   
  }

  .vatsection{
    background:  #f8f6f6;
    width : 100%;
    height : 145px; }

  .process{
    display: inline-block;
    margin : 10px;
    
  }
  .cancel{
    display: inline-block; 
    margin : 10px;
  }
  .ButtonSection{
      margin: auto;
    width : 100%;
    height : 50px; 
  }
  /* Parent Container */
.content_img{
    position: relative;
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
   }
   .content_img .imagename{
    position: absolute;
    width: 75px;
    height: 10px;
    top:0;
    margin:auto;
    font-size: x-small;
    font-family: sans-serif;
    color: rgb(3, 0, 7);
    font-weight:bold;
    
    opacity: 100%;
   }
   /* Child Text Container */
   .content_img div{
    
    position: absolute;
    
    bottom : 0;
    background: black;
    color: white;
    font-size: xx-small;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
   .content_img:hover{
    cursor: pointer;
    
   }
   
   .content_img:hover div{

    width: 75px;
    height: 75px;
    
    visibility: visible;
    opacity: 0.7; 
   }

   .vatSectionTable td {
    font-size: x-small;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
   }

   .cnclBtn{
    background-color: #d81a0d; /* Red */
    height: 40px;
    width:100%;
   }

   .prcsBtn{
    background-color: #4CAF50;/* Red */
    height: 40px;
    width:100%;
   }